.progress-number {
  width: 100% !important;
  height: 18px;
  margin: 0 0 0 -50px !important;

  * {
    width: 100px;
    margin: 0;
    line-height: 12px;
    font-size: 20px;
    font-weight: normal;
  }
}
